![Bill for January](201903.png)

In [3]:
octagon5()

The date: 2019 Feb
2019 Feb`s utility: $300.53
2019 Feb`s internet: $14.9
Each one should pay utility+internet: $ 63.08599999999999
**********************************************************************
please transfer money to lease holder before due date in our agreement
**********************************************************************

              Rent  Other_Fee     Total
Total         5350    315.430  5665.430
Living Room   1150     63.086  1213.086
Room 1        1280     63.086  1343.086
Room 2        1280     63.086  1343.086
Main Bedroom  1640    126.172  1766.172

In [2]:
def octagon5():
    '''
    the function to calculate our fees when there are five people
    '''
    import numpy as np
    import pandas as pd
    date = input('The date: ')
    utility = np.float(input(date + '`s utility: $'))
    internet = np.float(input(date + '`s internet: $'))
    uti_int = (utility + internet)/5
    print('Each one should pay utility+internet: $', uti_int)
    rent = [5350,1150,1280,1280,1640]
    uti_ints = list(np.repeat(uti_int,4));uti_ints[3] = uti_ints[3] *2
    other_fees = [utility + internet]; other_fees.extend(uti_ints)
    room = ['Total','Living Room','Room 1','Room 2','Main Bedroom']
    total = pd.DataFrame(rent);
    total.index = room;
    total.columns = ['Rent'];
    total['Other_Fee'] = other_fees
    total['Total'] = np.sum(total,axis=1)
    print('**********************************************************************')
    print('please transfer money to lease holder before due date in our agreement')
    print('**********************************************************************')
    return(total)